{% extends "Base.html" %}
  
			
			{% block content %}
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" >
				<h6>dashboard</h6>
				<h3>Add New Posts</h3>
				<hr>
				<div>
					<form>
						<label for="fname">Title:</label><br>
						<input type="text" id="title" name="title" value=""><br>
					
						<label for="fname">Content:</label><br>
						<input type="text" id="addpost" name="addpost" value=""><br><br>
						<input type="submit" value="Submit">
					</form>
				</div>
			
			</main>
  
  
  
	  </div>
	  
 {% endblock %}