{% extends "Base.html" %}
			
			
			{% block content %}
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" >
				<h6>dashboard</h6>
				<h3>Blog posts</h3>
				<hr>
				<hr>
					<div class="row">
						  <div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title">Affect of social media on menatl Health</h5>
								<p class="card-text">Many studies have found a link between time spent using social media and mental health issues, such as depression and anxiety. However, the existing research is plagued by cross-sectional research and lacks analytic techniques examining individual change over time.</p>
								<a href="https://www.mcleanhospital.org/essential/it-or-not-social-medias-affecting-your-mental-health" class="btn btn-primary">View Full Article</a>
							  </div>
							</div>
						  </div>
						  <div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title">Effects of Global warming </h5>
								<p class="card-text">The first is thermal expansion: as ocean water warms, it expands. The second is from the melting of land-based ice in glaciers and ice sheets due to global warming. Prior to 2007, thermal expansion was the largest component in these projections, contributing 70–75% of sea level rise.</p>
								<a href="https://en.wikipedia.org/wiki/Effects_of_climate_change" class="btn btn-primary" >View Full Article</a>
							  </div>
							</div>
						  </div>
						</div>

						<div class="row">
						  <div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title">Effects of Deforestation </h5>
								<p class="card-text">The loss of trees and other vegetation can cause climate change, desertification, soil erosion, fewer crops, flooding, increased greenhouse gases in the atmosphere, and a host of problems for indigenous people.</p>
								<a href="https://www.pachamama.org/effects-of-deforestation#:~:text=The%20loss%20of%20trees%20and,of%20problems%20for%20indigenous%20people." class="btn btn-primary">View Full Article</a>
							  </div>
							</div>
						  </div>
						  <div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title">Scarcity of drinking water</h5>
								<p class="card-text">Water scarcity can be defined as a lack of sufficient water, or not having access to safe water supplies. Water is a pressing need in many areas of the world. That scarcity is spreading as water is needed to grow and process food, create energy, and serve industry for a continually growing population.</p>
								<a href="https://www.fluencecorp.com/what-is-water-scarcity/" class="btn btn-primary">View Full Article</a>
							  </div>
							</div>
						  </div>
						</div>
			
			</main>
  
  
  
	  </div>
	  
 {% endblock %}