{% extends "Base.html" %}
			
			
			{% block content %}
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" >
				<h6>dashboard</h6>
				<h3>Errors</h3>
				<hr>
				
				<hr>
					<div class="row">
						  <div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title">Post-1298 Taken Down</h5>
								<p class="card-text">Post taken down due to company policies.</p>
							  </div>
							</div>
						  </div>
						  <br>
						  <div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title">Post-458 Taken Down</h5>
								<p class="card-text">Post did not met the quality standard of the website.</p>
							  </div>
							</div>
						  </div>
						</div>
						<br>
						<div class="row">
						  <div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title">Post-769 Taken Down</h5>
								<p class="card-text">67 people reported the post.</p>
							  </div>
							</div>
						  </div>
						  <br>
						  <div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title">Post-981 Taken Down</h5>
								<p class="card-text">Unable to upload the post due to weak internet connection. Try again later</p>
							  </div>
							</div>
						  </div>
						</div>
			
			</main>
  
  
  
	  </div>
	  
 {% endblock %}