{% extends "Base.html" %}
			
			
			{% block content %}
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" >
				<h6>dashboard</h6>
				<h3>Forms And Components</h3>
				<hr>
				
				<form action="/action_page.php">
				  <label for="fname">First name:</label><br>
				  <input type="text" id="fname" name="fname" value=""><br>
				  <label for="lname">Last name:</label><br>
				  <input type="text" id="lname" name="lname" value=""><br><br>
				  <label for="lname">Date Of Birth:</label><br>
				  <input type="date" id="DOB" name="DOB" value=""><br><br>
				  <label for="lname">email id:</label><br>
				  <input type="email" id="email" name="email" value=""><br><br>
				  <label for="lname">password:</label><br>
				  <input type="password" id="password" name="password" value=""><br><br>
				  <label for="lname">confirm password:</label><br>
				  <input type="password" id="password" name="password" value=""><br><br>
				  <input type="submit" value="Submit">
				</form> 
							
			</main>
  
  
  
	  </div>
	  
 {% endblock %}