{% extends "Base.html" %}
			
			
			{% block content %}
			<style>
				
				table {
				  font-family: arial, sans-serif;
				  border-collapse: collapse;
				  width: 100%;
				}

				td, th {
				  border: 1px solid #dddddd;
				  text-align: left;
				  padding: 8px;
				}

				tr:nth-child(even) {
				  background-color: #dddddd;
				}

			
			</style>
			
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" >
				<h6>Dashboard</h6>
				<h3>Table</h3>
				<hr>
				
				
				<table>
				  <tr>
					<th>Blog Heading</th>
					<th>Likes</th>
					<th>Comments</th>
					<th>Share</th>
					<th>Views</th>
				  </tr>
				  <tr>
					<td>Affect of social media on menatl Health</td>
					<td>16832</td>
					<td>325</td>
					<td>127</td>
					<td>26888</td>
				  </tr>
				  <tr>
					<td>Effects of Global warming</td>
					<td>5678</td>
					<td>128</td>
					<td>28</td>
					<td>12228</td>
				  </tr>
				  <tr>
					<td>Effects of Deforestation</td>
					<td>4978</td>
					<td>431</td>
					<td>31</td>
					<td>7989</td>
				  </tr>
				  <tr>
					<td>Scarcity of drinking water</td>
					<td>28902</td>
					<td>1678</td>
					<td>4078</td>
					<td>56678</td>
				  </tr>
				  <tr>
					<td>The future of Rhinocerous</td>
					<td>6789</td>
					<td>761</td>
					<td>61</td>
					<td>11761</td>
				  </tr>
				   <tr>
					<td>Waste Disposal affects to environment</td>
					<td>16789</td>
					<td>1761</td>
					<td>1261</td>
					<td>31761</td>
				  </tr>
				    <tr>
					<td>Overpopulation Affects</td>
					<td>789</td>
					<td>81</td>
					<td>29</td>
					<td>1761</td>
				  </tr>
				    <tr>
					<td>Loss of Biodiversity</td>
					<td>7891</td>
					<td>1371</td>
					<td>98</td>
					<td>21761</td>
				  </tr>
				</table>
				
			
			</main>
  
  
  
	  </div>
	  
	  {% endblock %}
